
#fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72vh;
    background: url("../../multimedia/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    max-width: 100vw;
}

.suelas{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:center ;
    margin: 1rem;
    max-width: 100vw;

}

.suela1, .suela2, .suela3 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 350px;
    margin: 1rem;
    height: 550px;
    border-style: solid;
    border-width: 8px;
    border-color:rgb(194, 241, 239);
    background-color: black;



}

.suelamixta,.suelafg,.suelasg{
    width: 334px;
    height: 370px;
    
}

.text{
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-family: 'Oswald', sans-serif;

}

.text1{
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-family: nunito,sans-serif;

}

.link{
    text-decoration: none;
}

