
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#seccionprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Oswald";
    background:#333;
    max-width: 100vw;


}

.barraprincipal{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 75px;
    margin-right: 2rem;
}

.logo-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 0.5rem 0rem 3rem;

}

.titulo{
    color:white;
    margin-left: 0.7rem;
    text-shadow: 1px 1px 3px rgb(0, 0,0);
    font-weight: bold;
    font-size: 30px;
}


.logo{
    border-radius: 100%;
    max-width: 60px;

}


.iniciosesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;


}

.logosesion{
    max-width: 60px;
    border-radius: 10%;
}

.sesion{
    color: white;
    list-style-type: none;
    font-size:large;
}

.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.logocarrito{
    max-width: 60px;
    border-radius: 90%;
}

.carro{
    color: white;
    list-style-type: none;
    font-size:large;
}

.link{
    text-decoration: none;
}

.barrasecundaria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(186, 200, 235);
    list-style-type: none;
    text-decoration: none;
    max-width: 100vw;

}

.nav{
    margin:1rem;
    font-family: 'Oswald';
}

.talles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;

}
.talles1{
    height: 888px;
    width: 550px;
}

