/* Aseguramos que el footer esté siempre al fondo de la pantalla */
.fixed-footer {
    background-color: #333;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Asegura que el footer esté encima de otros elementos si es necesario */
}

/* Estilos para los íconos sociales */
.social-icons img {
    margin: 0 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}
