.cargar-container {
  background: url("../../multimedia/fondo2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72vh;
}

.cargar-form {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para el formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.cargar-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

/* Estilos para inputs de texto */
.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para el select */
.input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff; /* Fondo blanco para el select */
  color: #555; /* Color del texto */
  text-align: center; /* Centra el texto en el select */

}

.botoneslogin {
  margin-top: 20px;
  text-align: center;
}

.botoneslogin button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botoneslogin button:hover {
  background-color: #0056b3;
}

.botoneslogin a {
  text-decoration: none;
}

input[type="submit"] {
  cursor: pointer;
}

.success-message {
  background-color: #28a745; /* Color verde para éxito */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  position: fixed; /* Fijo para que esté visible en cualquier parte de la página */
  top: 20px; /* Posicionado en la parte superior */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  opacity: 1; /* Inicialmente completamente visible */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transición suave */
}
